<section class="hero">

    <div class="hero-content">

        <img
            src="/logos/KCKLogoNeu.jpg"
            alt="Logo Karnevalsclub Forst-Keune"
            class="hero-logo"
        />

        <span class="subtitle">
            Herzlich Willkommen
        </span>

       <h1 class="hero-title">
    Karnevalsclub Forst-Keune
</h1>

        <p class="hero-subtitle">
            Karnevalssparte des<br>
            <strong>FSV Schwarz-Weiß Keune</strong>
        </p>

        <p class="hero-text">
            Seit unserer Gründung im Juli 2025 leben wir den
            Karneval mit Leidenschaft, Teamgeist und jeder Menge
            Herzblut. Schön, dass du den Weg zu uns gefunden hast!
        </p>

        <a href="#gruppen" class="discover">
            ↓ Mehr entdecken
        </a>

    </div>

</section>