<div class="hero-header">

    <img
        src="/logos/KCKLogoNeu.jpg"
        alt="Logo Karnevalsclub Forst-Keune"
        class="hero-logo hero-logo-left"
    />

    <div class="hero-heading">

        <span class="subtitle">
            Herzlich Willkommen
        </span>

        <h1 class="hero-title">
            Karnevalsclub<span class="mobile-break"><br></span> Forst-Keune
        </h1>

        <div class="schlachtruf-banner">

            <img
                src="/logos/schlachtruf.jpg"
                alt="Forst-Keune? Helau!"
            />

        </div>

        <p class="hero-subtitle">
            Karnevalssparte des<br>
            <strong>FSV Schwarz-Weiß Keune</strong>
        </p>

    </div>

</div>