---
interface Image {
  src: string;
  alt: string;
  width: number;
  height: number;
}

interface Props {
  title?: string;
  images?: Image[];
}

const {
  title = "Bildergalerie",
  images = []
} = Astro.props;
---

<section class="gallery-section">

  <h2>{title}</h2>

  <div class="gallery-grid">

    {images.map((image) => (

    <a
    href={image.src}
    class="gallery-item"
    data-pswp-width="1600"
    data-pswp-height="1067"
>

      </a>

    ))}

  </div>

</section>